<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Discours en musique{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/bootstrap.min.css') }}"/>
        <link rel="stylesheet"  type="text/css" media="all" href="{{ asset('css/bootstrap-theme.min.css') }}" />
        <link rel="stylesheet"  type="text/css" media="all" href="{{ asset('css/index.css') }}" />
        {% endblock %}
    </head>
    <body>

        {% block body %}{% endblock %}
    </body>
    {% block javascripts %}
    <script src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    {% endblock %}
</html>
